<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bsc.dao.RightMapper" >
  <resultMap id="BaseResultMap" type="com.bsc.entity.Right" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="parentId" property="parentid" jdbcType="INTEGER" />
    <result column="resKey" property="reskey" jdbcType="VARCHAR" />
    <result column="resType" property="restype" jdbcType="VARCHAR" />
    <result column="resUrl" property="resurl" jdbcType="VARCHAR" />
    <result column="resLevel" property="reslevel" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  
  
  <sql id="Base_Column_List" >
    id, name, parentId, resKey, resType, resUrl, resLevel, description
  </sql>
 
  <!-- 排序 -->
  <sql id="orderBySql">
    order by ${orderCol} ${orderReg}
  </sql>
  
  <!-- 分页 -->
  <sql id="limitBySql">
  	LIMIT #{startIndex},#{pageSize}
  </sql>
  
  <select id="getList" resultMap="BaseResultMap" parameterType="hashmap">
  	select * from tb_right where 1=1
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="name != null">
			and name = #{name}
		</if>
		<if test="resKey != null">
			and resKey = #{resKey}
		</if>
		<if test="resType != null">
			and resType = #{resType}
		</if>
		<if test="resUrl != null">
			and resUrl = #{resUrl}
		</if>
	<include refid="orderBySql" />
  </select>
  
   <select id="getListByPage" resultMap="BaseResultMap" parameterType="hashmap">
  	select * from tb_right where 1=1
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="name != null">
			and name = #{name}
		</if>
		<if test="resKey != null">
			and resKey = #{resKey}
		</if>
		<if test="resType != null">
			and resType = #{resType}
		</if>
		<if test="resUrl != null">
			and resUrl = #{resUrl}
		</if>
	<include refid="orderBySql" />
	<include refid="limitBySql" />
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_right
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_right
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bsc.entity.Right" >
    insert into tb_right (id, name, parentId, 
      resKey, resType, resUrl, 
      resLevel, description)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{parentid,jdbcType=INTEGER}, 
      #{reskey,jdbcType=VARCHAR}, #{restype,jdbcType=VARCHAR}, #{resurl,jdbcType=VARCHAR}, 
      #{reslevel,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bsc.entity.Right" >
    insert into tb_right
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="parentid != null" >
        parentId,
      </if>
      <if test="reskey != null" >
        resKey,
      </if>
      <if test="restype != null" >
        resType,
      </if>
      <if test="resurl != null" >
        resUrl,
      </if>
      <if test="reslevel != null" >
        resLevel,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="reskey != null" >
        #{reskey,jdbcType=VARCHAR},
      </if>
      <if test="restype != null" >
        #{restype,jdbcType=VARCHAR},
      </if>
      <if test="resurl != null" >
        #{resurl,jdbcType=VARCHAR},
      </if>
      <if test="reslevel != null" >
        #{reslevel,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bsc.entity.Right" >
    update tb_right
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        parentId = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="reskey != null" >
        resKey = #{reskey,jdbcType=VARCHAR},
      </if>
      <if test="restype != null" >
        resType = #{restype,jdbcType=VARCHAR},
      </if>
      <if test="resurl != null" >
        resUrl = #{resurl,jdbcType=VARCHAR},
      </if>
      <if test="reslevel != null" >
        resLevel = #{reslevel,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bsc.entity.Right" >
    update tb_right
    set name = #{name,jdbcType=VARCHAR},
      parentId = #{parentid,jdbcType=INTEGER},
      resKey = #{reskey,jdbcType=VARCHAR},
      resType = #{restype,jdbcType=VARCHAR},
      resUrl = #{resurl,jdbcType=VARCHAR},
      resLevel = #{reslevel,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>