<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:task="http://www.springframework.org/schema/task"
    xsi:schemaLocation="http://www.springframework.org/schema/beans    
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd    
    http://www.springframework.org/schema/tx    
    http://www.springframework.org/schema/tx/spring-tx-4.0.xsd   
    http://www.springframework.org/schema/context   
    http://www.springframework.org/schema/context/spring-context-4.0.xsd 
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-4.0.xsd  
    http://www.springframework.org/schema/mvc   
    http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
    http://www.springframework.org/schema/task
    http://www.springframework.org/schema/task/spring-task-4.0.xsd">

    <!-- Spring MVC配置 -->
    
    <!-- 注解配置 -->
    <context:annotation-config />
    <!-- 扫描注解包（如果在和spring集成的时候，也会扫描@service类，所以在此处应该排除扫描@service类） -->
    <context:component-scan base-package="com.bsc.controller" />
    <!--默认的mvc注解映射的支持（相当于注册了DefaultAnnotationHandlerMapping和AnnotationMethodHandlerAdapter两个bean） -->
    <mvc:annotation-driven/>
    <!-- （task任务扫描注解）支持异步方法执行 -->
    <task:annotation-driven /> 

    <!-- 视图解析器和json解析器 -->
    
    <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="mediaTypes">
            <map>
                <entry key="html" value="text/html"/>
                <entry key="json" value="application/json"/>
            </map>
        </property>
        <!-- 配置试图解析器（ViewResolver）：前缀+逻辑名+后缀：/WEB-INF/pages/pages/home.jsp -->
        <property name="viewResolvers">
            <list>
                <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
                    <property name="prefix" value="/WEB-INF/views/" /> <!--可为空,方便实现自已的依据扩展名来选择视图解释类的逻辑 -->
                    <property name="suffix" value=".jsp"/>
                </bean>
            </list>
        </property>
        <property name="defaultViews">
            <list>
                <bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView" />
            </list>
        </property>
    </bean>
    
    <!-- 文件上传解析器 -->
    <bean id="multipartResolver"
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- one of the properties available; the maximum file size in bytes -->
        <property name="maxUploadSize" value="-1"/>
    </bean>

    <!-- 总错误处理 -->
    <bean id="exceptionResolver"
        class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="defaultErrorView">
            <value>/error</value>
        </property>
        <property name="defaultStatusCode">
            <value>500</value>
        </property>
        <property name="warnLogCategory">
            <value>org.springframework.web.servlet.handler.SimpleMappingExceptionResolver
            </value>
        </property>
    </bean>

	<!-- 默认的处理器进行处理（静态资源因为没有相应的Controller就会被default servlet处理） -->
	<mvc:default-servlet-handler/>
    <!-- 对静态资源文件的访问 -->
    <mvc:resources mapping="/images/**" location="/static/images/" cache-period="31556926" />
    <mvc:resources mapping="/js/**" location="/static/js/" cache-period="31556926" />
    <mvc:resources mapping="/css/**" location="/static/css/" cache-period="31556926" />

   
</beans>